<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <h1 class="mb-3 text-center">{% block form_title %}{% endblock %}</h1>
            {% include 'default/session_flash_bag.html.twig' %}
            {% block form_body %}{% endblock %}
        </div>
    </div>
</div>