$body-color: #e8e5e0;
$body-bg: #343434;
$card-bg: #1d1d1d;
$card-border-color: $card-bg;
$card-border-radius: 20px;

@import "~bootstrap/scss/bootstrap";
@import "loader.css";

.card-title {
  font-size: 19px;
}