{% extends 'game_collection/index.html.twig' %}

{% block title %}{{ user.username }}'s Collections{% endblock %}

{% block body %}
    <h1>{{ user.username }}'s Collections</h1>

    {{ include('game_collection/_list.html.twig', {'game_collections': user.gameCollections}) }}
{% endblock %}