<form method="post"
      action=""
      onsubmit="return confirm('Are you sure you want to delete this collection?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="">
    <a class="btn collection-delete"
       href="{{ path('game_collection_delete', {'id': game_collection.id}) }}"
       data-csrf="{{ csrf_token('delete' ~ game_collection.id) }}">
        Delete
    </a>
</form>