<div class="collections-container">
    {% for game_collection in game_collections %}
        <div class="collection">
            <a href="{{ path('game_collection_show', {'id': game_collection.id}) }}">
                {{ game_collection.name }}
            </a>
            {% block delete_button %}{% endblock %}
        </div>
    {% else %}
        <div>
            <p>No collections added yet :(</p>
        </div>
    {% endfor %}
</div>