<div class="collections-container">

    <table class="table table-dark">
        <thead>
        <tr>
            <td>Collections</td>
        </tr>
        </thead>
        <tbody>
        {% for game_collection in game_collections %}
            <tr>
                <td>
                    <a href="{{ path('game_collection_show', {'id': game_collection.id}) }}">
                        {{ game_collection.name }}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>No collections added yet :(</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="collection">

    </div>

</div>