{% extends 'base.html.twig' %}

{% block title %}Latest Collections{% endblock %}

{% block body %}
    <h1>Latest Collections</h1>

    {{ include('game_collection/_list.html.twig') }}
{% endblock %}
